html, body {
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, #764747, #000022, #88888f, #e9fe75, #000088);
    background-size: 100% 200%;
    background-position: 0% 0%;
    margin: 0;
  }
  
  .container {
    padding: 5% 2%;
    margin: 0 auto;
    max-width: 1140px;
  }
  
  h1 {
    position: relative;
    margin-bottom: 3%;
    font-family: 'Oswald', sans-serif;
    font-size: 3rem;
    text-transform: uppercase;
    color: #b6b6b6;
  }
  
  .gallery-wrap {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    border-radius: 15px;
  }
  
  .item {
    flex: 1;
    height: 620px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: flex 0.5s ease;
    border-radius: 3px;
   
  }
  
  .item:hover {
    flex: 9;
  }
  
  .item-1 {
    background-image: url('https://wallpapercave.com/dwp2x/wp5282488.jpg');
  }
  
  .item-2 {
    background-image: url('https://wallpapercave.com/dwp2x/wp5378004.jpg');
  }
  
  .item-3 {
    background-image: url('https://c4.wallpaperflare.com/wallpaper/256/819/794/avengers-age-of-ultron-the-avengers-tony-stark-robert-downey-jr-wallpaper-preview.jpg');
  }
  
  .item-4 {
    background-image: url('https://wallpapercave.com/dwp2x/wp3989305.jpg');
  }
  
  .item-5 {
    background-image: url('https://wallpapercave.com/dwp2x/wp4386057.jpg');
  }
  
  @media (max-width: 768px) {
    .container {
      padding: 5% 2%;
    }
  
    h1 {
      font-size: 2rem;
    }
  
    .item {
      flex: 1;
      height: 200px;
      
    }
  }
  